[submodule "my-app"]
	path = my-app
	url = https://github.com/bogoquiz/my-app.git
[submodule "react"]
	path = react
	url = c:/Users/xalexbaf/react/
[submodule "redux-example"]
	path = redux-example
	url = C:/Users/xalexbaf/react/redux-example
