[submodule "my-app"]
	path = my-app
	url = https://github.com/bogoquiz/my-app.git
[submodule "react"]
	path = react
[submodule "react-redux"]
	path = react-redux
	url = https://github.com/bogoquiz/react-redux.git
[submodule "vote"]
	path = vote
	url = https://github.com/bogoquiz/vote.git
